.women-salon-page {
  display: flex;
  padding: 0px 30px;
}

/* LEFT */
.salon-left {
  width: 100%;
  margin: auto 15px;
  background: white;
    padding-right: 16px;
    border-radius: 8px;
    /* user-select: inherit !important;
    cursor: inherit !important;
    touch-action: inherit !important; */
    transition-duration: 0s;
} 

.salon-menu {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.menu-item {
    width: 84px;
    height: 130px;
    padding: 8px;
    cursor: pointer;
    font-family: os_regular;
    font-size: 12px;
    color: rgb(15, 15, 15);
    text-decoration-line: none;
    text-transform: none;
    text-align: center;
}

.service-banner{
    object-fit: fill;
    height: 100%;
    width: 100%;
    background-color: transparent;
    aspect-ratio: 1.77778 / 1;
}
.menu-item.active,
.menu-item:hover {
  background: #f1e9ff;
  color: #6a3df0;
}

/* CENTER */
.salon-center {
  width: 100%;
  height: 67vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: auto 15px;
}

.service-section {
  border: 1px solid;
  box-shadow: 1px;
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 5px;
}

.service-card-detail {
    margin: 11px;
    background: rgb(252, 252, 252);
    padding: 4px;
    border-radius: 3px;
    box-shadow: #4e4d4d 0px 1px 1px 1px;
}

.service-card-detail button {
  float: right;
  padding: 6px 14px;
  border: 1px solid #6a3df0;
  background: white;
  color: #6a3df0;
  border-radius: 6px;
}

/* RIGHT */
.salon-right {
  width: 100%;
  margin: auto 15px;
}
